@use "../../../../assets/common_scss/commonScss.scss" as *;
.HomePart2
{
    padding:var(--pages-padding);
            .navigation-arrows {
            display: flex;
            gap: 10px;
        }

        .arrow {
            background-color:var(--grey-hover);
            border-radius: 50%;
            width: 30px;
            height: 30px;
@include Centering;
            cursor: pointer;
            transition: background-color 0.3s ease;
            color: var(--black-color);
        }

        .arrow:hover {
            background-color:var(--grey-hover);
        }

        .arrow-left {
            content: '';
            font-size: 1em;
        }

        .arrow-right {
            content: '';
            font-size: 1em;
        }
}


.HomePart2
{
     .categories-container {
            display: flex;
            padding: 20px;
            flex-wrap: wrap;
            justify-content: center;
            font-size: var(--text-size);
             color: var(--black-color);
             text-transform: capitalize;

        }

        .category-item {
           
            @include Col-Centering;
            width: 150px;
            height: 150px;
            border:var(--sec-border);
            border-radius: 8px;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
            box-shadow: var(--box-shadow);
        }

        .category-item:hover {
            transform: translateY(-5px);
            box-shadow:var(--box-shadow);
        }

        .category-item.active {
            background-color: var(--red-color);
            color: #fff;
            border-color: var(--red-color);

            .icon 
            {
                &.active{
                    *{

                        color: var(--white-color);
                    }
                }
            }
        }
        
      

        .icon * {
            
font-size: 27px;
            margin-bottom: 15px;
            color: var(--black-color);

        }

        .category-item p {
            margin: 0;
            font-weight: 500;
        }
}

.HomePart2
{
     .swiper-wrapper{
        padding: 0px 15px;
}
    .swiper
    {
        
        margin-top: 50px;
        padding: 10px 0px;
    }
}

@media (max-width:578px) {
    
    .HomeHeader .title-text h2
    {
    --header-size:20px;
    }
}

@media (max-width:384px) {
    .HomeHeader .title-text p
    {
        font-size: 0.5rem;
    }
.HomePart2 .arrow
{
    width: 20px;
    height: 20px;
    font-size: 0.5rem;
}
.HomeHeader .title-text h2
{
--header-size:15px;
}
}
@media (max-width:324px) {
    

.HomeHeader .title-text h2
{
--header-size:12px;
}
}