@use "../../../../common_scss/commonScss.scss" as *;

.Header
{
    color: white;
    background: transparent;
@include between-center;
.left
{
    span{
        opacity: 0.6;
    }
}
 
.right
{
    @include Centering;
    gap: 15px;
    p{
        margin: 0px;
        
    }

    input{
        border-radius: 5px;
        padding: 6px;
        border: none;
    }
}
}