.fixed-bg {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0px;
  height: 100vh;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.fixed-bg .DashboardPage {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  height: 90%;
  padding: 20px;
}
.fixed-bg .DashboardPage > * {
  margin: 0px;
  margin-bottom: 50px;
}
.fixed-bg .DashboardPage .container-Dashboard {
  height: 404px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}
.fixed-bg .DashboardPage::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fixed-bg .DashboardPage::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fixed-bg .DashboardPage:hover::-webkit-scrollbar, .fixed-bg .DashboardPage:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}