@use "../../../assets/common_scss/commonScss.scss" as *;

.ServicesComponents
{
    @include Centering;
                gap: 100px;

        .card {
          
            @include Col-Centering;
            padding: 2rem;
            border: none;
            width: 200px;
            height: 260px;
        }

        .icon-container {
            width: 60px;
            height: 60px;
            background-color: #e0e0e0;
            border-radius: 50%;
         
            @include Centering;
            margin-bottom: 1.5rem;
        }
        
        /* Inline SVG icon styling */
        .icon-container span         
        {
   background-color: var(--black-color);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            @include Centering;
            * {
             
                font-size: 25px;
                color: var(--white-color);
            }
        }

        .title {
font-family: var(--poppines-semi-bold);
            font-size: var(--text-size);
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: var(--black-color);
        }

        .subtitle {
            font-weight: 400;
            font-size:calc(var(--input-txt-size) - 0.5px);
            color: var(--black-color);
            opacity: var(--text-opacity);
            margin: 0;
        }
}

@media (max-width:810px) {
.ServicesComponents
{
    gap: 50px;
}
    .ServicesComponents .title
    {      

        font-size: 10px;
    }
    .ServicesComponents .subtitle
    {
        font-size: 9px;
      
    }
}
@media (max-width:543px) {
.ServicesComponents
{
    gap: 20px;
}

  .ServicesComponents .title
    {      

        font-size: 8px;
    }
    .ServicesComponents .subtitle
    {
        font-size: 8px;
      
    }
    
}
@media (max-width:513px) {
.ServicesComponents
{
    flex-direction: column;
}
    
}