:root {
  /*====================Colors & Hover colors====================*/

  --red-color: #db4444;
  --red-hover: #c13a3a; /* Darker red */

  --grey-color: #f5f5f5;
  --grey-hover: #e8e8e8; /* Slightly darker grey */

  --sec-grey-color: #2f2e30;
  --sec-grey-hover: #242325; /* Darker grey */

  --yellow-color: #ffad33;
  --yellow-hover: #ff9a00; /* Darker yellow */

  --black-color: #000000;
  --black-hover: rgba(0, 0, 0, 0.8); /* 80% opacity */

  --white-color: #fafafa;
  --white-hover: rgba(250, 250, 250, 0.8); /* 80% opacity */

  --green-color: #00ff66;
  --green-hover: #00cc52; /* Darker green */

  /*====================Hover Transition==================== */
  --hover-transition: 0.2s ease-out;

  /*====================Common Text opacity====================*/
  --text-opacity: 0.5;

  /* ====================Border color (Ex:input border)==================== */
  --border: 1px solid rgba(0, 0, 0, 0.5);

  /* ====================Box Shadow (Cart items)==================== */
  --box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);

  /* ====================Font Families==================== */

  /* popines*/
  --poppines-regular: "Poppins-Regular";
  --poppines-semi-bold: "Poppins-SemiBold";
  --poppines-bold: "Poppins-Bold";

  /* Inter */
  --Inter-regular: "Inter_18pt-Regular";
  --Inter-semi-bold: "Inter_18pt-SemiBold";
  --Inter-bold: "Inter_18pt-Bold";

  /* ====================Font sizes====================*/
  --header-size: 36px;
  --text-size: 16px;
  --sec-text-size: 20px;
  --input-txt-size: 12px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.product-card {
  position: relative;
  border-radius: 6px;
  padding: 50px;
  text-align: center;
  transition: 0.3s;
  background: var(--grey-color);
  overflow: hidden;
}

.product-card:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(-5px);
}

.fav-icon{
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--black-color);
  font-size: var(--text-size);
  font-family: var(--poppines-bold);
  cursor: pointer;
  transition: 0.2s;
}
.fav-icon:hover {
  transform: scale(1.2);
}

.product-card img {
  max-width: 100%;
  margin-bottom: 15px;
}

.product-info h3 {
  font-size: var(--text-size);
  font-family: var(--poppines-semi-bold);
  margin: 10px 0;
}

.product-info .price {
  color: var(--red-color);
  font-family: var(--poppines-regular);
  margin-bottom: 5px;
  margin-right: 10px;
}

.star {
  color: var(--grey-hover);
  font-size: var(--sec-text-size);
}
.stars{
  display: flex;
}
.reviews {
  font-size: var(--text-size);
  font-family: var(--poppines-regular);
  margin-left: 5px;
  color: var(--black-color);
}

.add-to-cart {
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background: var(--black-color);
  border: none;
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  font-size: var(--text-size);
  font-family: var(--poppines-semi-bold);
}
.product-card:hover .add-to-cart {
  bottom: 10px;
  opacity: 1;
}
