.HomePart1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 100%;
  height: 340px;
  gap: 25px;
}
.HomePart1 .left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-right: var(--sec-border);
  width: 18%;
}
.HomePart1 .left ul {
  margin: 0px;
  list-style: none;
  color: var(--black-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: var(--text-size);
}
.HomePart1 .left ul * {
  width: 180px;
}
.HomePart1 .left ul *:not(li:last-child) {
  margin-bottom: 17px;
}

.HomePart1 .right {
  width: 75%;
  height: 320px;
}
.HomePart1 .right .swiper {
  height: 100% !important;
}
.HomePart1 .right .container {
  height: 100% !important;
  padding: 0px 70px 0px 100px;
  color: var(--white-color);
  background-color: var(--black-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.HomePart1 .right .container .text {
  width: 35%;
  text-transform: capitalize;
  font-size: var(--text-size);
  letter-spacing: 1.1px;
}
.HomePart1 .right .container .text > * {
  margin-bottom: 23px;
}
.HomePart1 .right .container .text div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  text-transform: none;
}
.HomePart1 .right .container .text div:first-child p {
  margin: 0px;
}
.HomePart1 .right .container .text div:first-child .logo {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
}
.HomePart1 .right .container .text div:first-child .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.HomePart1 .right .container .text h1 {
  font-family: var(--Inter-semi-bold);
  letter-spacing: 2px;
  font-size: var(--header-size);
}
.HomePart1 .right .container .text .ShopNow {
  font-size: var(--text-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.HomePart1 .right .container .text .ShopNow p {
  border-bottom: 1px solid var(--white-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px;
  padding: 2px 0px;
}
.HomePart1 .right .container .text .ShopNow a {
  font-size: var(--text-size);
  color: var(--white-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
.HomePart1 .right .container .text .ShopNow span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
}
.HomePart1 .right .container .image {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.HomePart1 .right .container .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.HomePart1 .swiper-pagination-bullet {
  background: var(--white-color) !important;
  opacity: var(--text-opacity) !important;
  width: 10px;
  height: 10px;
}
.HomePart1 .swiper-pagination-bullet-active {
  background: var(--red-color) !important;
  opacity: 1 !important;
  border: 1.5px solid var(--white-color);
}